<app-header></app-header>
<!-- <router-outlet></router-outlet> -->
<div class="content">
  <div class="heading">
    <img src="./../assets/images/winona-ui-logo.png" alt="">
    <h1>Winona UI</h1>
  </div>
  <div class="description">
    <h2>Winona UI Components </h2>
    <h3> are absolutely NOT inspired by Windows designs!</h3>
    <p>Our naming and approach are rooted in the philosophy of cross-platform compatibility and reliability,
      particularly for developers who work on Windows systems.</p>
    <p>The name 'Winona' signifies our commitment to ensuring that Windows users can seamlessly contribute to the Winona UI open-source project without encountering compatibility issues.</p>
    <p>We firmly believe that if the project can run on Windows, it can run on any system.</p>
    <p>
      Our components are designed with universal usability in
      mind, focusing on performance, consistency, and ease of integration across all major frameworks like <br> Angular, React, and
      Vue. </p>
    <p>Winona UI is about empowering developers with reliable tools, irrespective of their operating system choice (or
      circumstances).
    </p>
  </div>
</div>
<app-footer></app-footer>
